<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        @{Html.RenderAction("MainMenu", "MainMenu");}
        @RenderBody()
        <div id="footer">
            <div>
                ©BATTERY FILMS&Anton Drozdov, 2015 
            </div>
        </div>
    </body>
</html>
